@model MVC_site.Models.EquipmentList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentCondition)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.equipmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
